body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.nav {
    background-color: #333;
    padding: 10px;
}
.indice {
    background-color: #b7d370;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.indice h2 {
    color: #d328b6;
    border-bottom:#14db14 ;
}
.tema {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #24f535;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.tema img {
    max-width: 100%;
    height: ;
    display: blck;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #50ca1f;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #59ca4a;
    border-radius: 8px;
}
a {
    color: #3f0321;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}
.nav ul li a:hover {
    color: #00aced;
}